.sgn_container {
  color: #A8A8A8;
  font-size: 14px;
  margin: 16px 24px 16px 24px;
}

.sgn_container.sgn_inbox{
  margin: 5px 15px 5px 15px;
}

.sgn_container.sgn_position_top .sgn_bart_logo_bottom,
.sgn_container.sgn_position_bottom .sgn_bart_logo_bottom {
    display: none
}

.sgn_container.sgn_position_side-top .sgn_bart_logo_top,
.sgn_container.sgn_position_side-bottom .sgn_bart_logo_top {
    display: none
}

.sgn_container.sgn_position_side-top,
.sgn_container.sgn_position_side-bottom {
  margin-left: 0;
  margin-right: 0;
  padding-right: 5px;
}

.sgn_container .sgn_action,
.sgn_container .sgn_prompt_login {
  color: gray;
  /*margin: 5px;*/
}

.sgn_container .sgn_action {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

.sgn_container .sgn_padding {
  margin: 5px;
}

.sgn_container .sgn_error {
  color: red;
  margin: 5px;
  line-height: 150%;
}

.sgn_container .sgn_notice {
  color: #777;
  margin: 5px;
  float: right;
  display: inline-block;
}

.sgn_container textarea.sgn_input {
  box-sizing: border-box;
  color: gray;
  height: 72px;
  margin-top: 5px;
  width: 100%;
  line-height: 1.2;

}

.sgn_container textarea.sgn_input:disabled{
    background-color: transparent;
}

.sgn_container.sgn_position_side-top textarea.sgn_input,
.sgn_container.sgn_position_side-bottom textarea.sgn_input {
  margin: 5px 0;
}

.sgn_sidebar {
  width: 300px;
  word-wrap: break-word;
  word-break: break-all;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.sgn_button{
  float: right;
  height: 100%;
  margin-left: 5px;
}

.sgn_position_side-bottom .sgn_button, 
.sgn_position_side-top .sgn_button {
  margin-left: 3px;
}

.sgn_position_side-bottom .sgn_prompt_logout,
.sgn_position_side-top .sgn_prompt_logout
{
  height: 30px;
}


.sgn_open_opportunity.sgn_action {
  /*border: 1px solid #ec7244;
  border-radius: 5px;*/
  align-items: center; /*used when display set to flex by programming*/
  display: none;
  float: right;
  height: 18px;
  margin-top: 2px;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
}

.sgn_opportunity_icon {
  height: 20px;
  margin-top: 2px;
}

div.sgn_opp_name{
  display: inline-block;
  color: #ec7244;
  /*text-overflow: ellipsis;*/
  white-space: nowrap;
  overflow: hidden;
  max-width: 60px;
  font-size: 12px;
}

.sgn_history_note {
  white-space: pre-wrap;
}

.sgn_history_timestamp a{
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.sgn_history_timestamp {
    margin-bottom: 7px;
}

.sgn_history_note {
    margin-bottom: 29px;
}

.sgn_history_note:last-child {
    margin-bottom: 0;
}

.sgn_history_header{
  display: flex;
  justify-content: space-between;
}

.sgn_history_header b{
    white-space: nowrap;
}

.simpleColorDisplay{
  display: none;
}

.sgn_container .sgn_current_connection{
  color: #999;
  text-decoration: none; 
  padding-left: 5px;
}

.sgn_position_side-top .sgn_current_connection,
.sgn_position_side-bottom .sgn_current_connection{
  display: block;
  margin-bottom: 5px;
  text-align: right;
}

.sgn_bart_logo{
  display: inline-block;
}

.sgn_prompt_logout{
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.sgn_prompt_logout a{
    line-height: normal;
    vertical-align: middle;
}

.sgn_container .sgn_prompt_login .sgn_login, 
.sgn_container .sgn_prompt_login .sgn_disable_account, 
.sgn_container .sgn_error a,
.sgn_container .sgn_error a:visited
{
  color: #4D9ED0;
}

.sgn_disable_account {
  float: right;
}

.sgn_inactive_warning {
  text-align: center;
}

.sgn_inactive_warning div{
  border: solid 1px red;
  display: inline-block;
}

.sgn_message {
  width: 601px;
  color: #333333;
  line-height: 1.63;
 /* background-color: #4D9ED0;*/
  background-color: #FFF;
}

.sgn_message .item{
  font-family: Helvetica;
  padding-left: 27px;
  padding-right: 27px;
}

.sgn_message .sgn_message_font {
    font-family: Helvetica;
    display: flex;
    margin-top: 28px;
    margin-bottom: 20px;
    justify-content: flex-end;
    justify-items: center;
    font-size: 14px;
    color: #333333;
}

.sgn_message .sgn_message_font a {
    margin-right: 23px;
    margin-left: 10px;
}

.sgn_message .title .sgn_logo {
    width: 44px;
    margin-right: 22px;
}

.sgn_message .divide_line {
    border-top: 1px solid #e6e6e6;
    margin: 29px 20px;
}

.sgn_message .sub_title {
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #333333;
    font-family: Helvetica;
    line-height: 1.44;
}

.sgn_message .title_tip .tip_item {
    color: #5c5c5c;
}

.sgn_message .title_tip {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Helvetica;
}

.sgn_message .title_hint {
    background-color: #f0f3f5;
    margin-top: 32px;
    padding-top: 20px;
    padding-bottom: 17px;
}

.sgn_message .title_hint .sub_hint_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.sgn_message a, .sgn_message a:visited {
  color: #2675d4;
  text-decoration: none;
  font-family: Helvetica;
}

.sgn_message .strong{
  font-weight: bold;
  font-style: italic;
}

.sgn_message .title{
  display: flex;
  justify-content: left;
  padding-left: 47px;
  align-items: center;
  background-image: linear-gradient(to top, #2fb8df, #2365d1);
  height: 95px;
  color: #fff;
  font-size: 24px;
  font-family: Helvetica;
  text-align: center;
}

div.mce-tinymce{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px 0px;
}


.mce-content-body p{
    margin: 0 0;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}


.sgn-modal-title {
    text-align: center;
    margin-top: 19px;
    margin-bottom: 17px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
    letter-spacing: -0.3px;
}

.sgn-modal-close {
    position: absolute;
    z-index: 999;
    cursor: pointer;
    top:16px;
    right: 20px;
    line-height: 25px;
    text-align: center;
    border-width: 0;
    border-style: initial;
    border-color: initial;
    background-color: initial;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
}

.sgn-modal-input {
    height: 40px;
    width: 54%;
    margin-left: 23%;
    padding: 2px 37px 2px 15px;
    display: block;
    border-radius: 5px;
    background-position: center right 15px;
    background-repeat: no-repeat;
    background-size: auto auto;
    border: none;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: gray;
     
}

div#sgn-featherlight-content {
    /*min-height: 400px;*/
    /*min-width: 600px;*/
    overflow: hidden;
    border-radius: 5px;
    height: 80%;
    width: 80%;
    padding: 0 0;
    background-color: #f5f5f5;
    border-width: 0 0;
}

.sgn_show_table {
    background-color: #fff;
    margin-top: 14px;
    
}

.sgn-modal-loading img {
    margin: 0 auto;
    display: flex;
    width: 20px;
    height: 20px;
}

.sgn-modal-search .sgn-modal-search{
    margin: 0 auto;
    display: flex;
}

/*
.sgn-modal-search  div {
    display: inline-flex;
    margin-left: 20%;
    width: 90%;

}*/

.sgn-googledrive-folder{
    display: inline-block;
    padding-top: 3px;
    margin-left: 10px;
    width: 40px;
}
.sgn-googledrive-folder img{
    margin-top: 3px;
    width: 32px;
    height: 32px;
}

.sgn-delete-notes img{
    width: 32px;
    vertical-align: middle;
}

.sgn_show_table table {
    width: 100%;
    height: 100%;
    border-collapse:collapse;
    display: block;
}


#sgn_table_thead, #sgn_table_tbody{
    width: 100%;
    display: block !important;
}

#sgn-select-all{
}

.sgn_show_table table tbody {
    height: 400px;
    height: 100%;
    overflow-y: scroll;

}


.sgn_show_table table tr {
    display: flex;
    border-color: rgb(245, 245, 245);
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
}

.sgn_show_table table tr th{
    color: #999999;
    letter-spacing: -0.2px;
    line-height: 2.86;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;

}

.sgn_show_table table tr td{
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: -0.2px;
    color: #333333;
    display: flex;
    align-items: center;
}


.sgn_show_table table tr th,
.sgn_show_table table tr td{
    letter-spacing: 0.2px;
}

.sgn_show_table table tr th:nth-child(2),
.sgn_show_table table tr td:nth-child(2){
    text-align:left;
    width: 35%;
    padding-left: 20px;

}

.sgn_show_table table tr th:nth-child(3),
.sgn_show_table table tr td:nth-child(3){
    text-align:left;
    width: 35%;
    word-break: break-word;

}

.sgn_show_table table tr th:nth-child(3){
    padding-left: 1%;
}

.sgn_show_table table tr td:nth-child(3){
    padding-left: 1.5%;
}

.sgn_show_table table tr th:nth-child(2) a,
.sgn_show_table table tr td:nth-child(2) a{
    width: 219px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    color: #333333;
     
}

.sgn_show_table table tr th:nth-child(4),
.sgn_show_table table tr td:nth-child(4){
    width: 25%;
    text-align: left;
    padding-right: 20px;
}

.sgn_show_table table tr th:nth-child(4){
    padding-left: 1%;
}

.sgn_show_table table tr td:nth-child(4){
    padding-left: 1.9%;
}

.sgn_show_table table tr th:nth-child(1),
.sgn_show_table table tr td:nth-child(1){
    width: 5%;
    text-align: center;
    padding-left: 10px;
    padding-right: 20px;
}

.sgn_show_table table tr td:nth-child(1) input{
    margin: 0 auto;
}

#sgn_table_tbody tr:hover {
   background-color: #ebf2f5;
}

.sgn-show-delete-notice{
    text-align: center;
    margin-top: 4px;
}
.sgn-delete-success-notes{
    color: #4F8A10;    
}

.sgn-delete-fail-notes{
    color: #D8000C;
}

#sgn-crm-modal-button{
    display: flex;
    width: 100%;
}

#sgn-crm-modal-button span{
    display: flex;
    align-items: center;
}

#sgn-crm-modal-button .sgn-action{
    cursor: pointer;
}

#sgn-crm-modal-button span img{
    width: 24px;
    height: 24px;
    margin-left: 40px;
    margin-right: 10px;
    cursor: pointer;
}
.sgn_offline_message a {
    color: #fff;
}

.sgn_offline_message {
    height: 67px;
    background-color: #d80e16;
    color: #fff;
    width: 500px;
    vertical-align:  middle;
    box-sizing: border-box;
    padding: 10px 0;
    line-height: 1.4;
}

.sgn_offline_message img{
    width: 36px;
    float: left;
    margin-left: 28px;
}

.sgn_note_timestamp {
    display: flex;
    align-items: center;
}

.sgn_note_timestamp_content{
    margin-left: 3px;
}

.sgn_float_right {
    float: right;  
}

.sgn_is_hidden {
    display: none;
}

.sgn_clear_right {
    clear: right;
}

.sgn_opportunity_list_opener {
  display: inline-block;
  vertical-align: middle;
  padding: 4px;
  cursor: pointer;
}

.sgn_opportunity_list_opener a {
    display: inline-block;
    padding: 8px;
}

.sgn-dropdown {
    position: relative;
}

.sgn-sync-type{
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
    background-color: #ffffff;
    margin-left: 40px;
    border: solid 1px #e0e0e0;
    white-space: nowrap;
    z-index: 999;
}

.sgn-crm-share-notes {
    color: #333333;
    padding: 0 10px;
}

.sgn-dropdown:hover .sgn-sync-type {
    display: block;
}

.sgn-crm-share-notes:hover {
    background-color: #F5F5F5;
}

.sgn-sync-type hr {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    margin: 0 10px;
}

.sgn_container .sgn_textarea_container {
    position:relative;
}

.sgn_container .sgn_textarea_container .sgn_note_timestamp {
    position:absolute;
    bottom:10px;
    right:0;
    font-size:12px;
    opacity: 0.6;
    background-color: rgb(255,255,255); /*fall back*/
    background-color: rgba(255,255,255, 0.8);
    padding-left: 5px;
    padding-right: 5px;

}

.sgn_container .sgn_textarea_container .sgn_note_timestamp img{
    height:10px;
}

.sgn_print_note {
    border: 1px solid black;
    min-height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.sgn_print_note p {
    margin: 0;
}

.sgn_sidebar_container {
    background-color: #ffffff;
    border: solid thin #cccccc;
    border-radius: 5px;
    padding: 17px;
}

.sgn_sidebar_title {
    color: #43b4ef;
    font-size: 16px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 22px;
}

.sgn_avatar {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 9px;
}

.sgn_author_info, .sgn_opportunity_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.sgn_flex_grow {
    flex-grow: 1;
    display: flex;
}

.sgn_author_name, .sgn_timestamp {
    font-size: 14px;
    color: #757575;
    display: inline-block;
}

.sgn_comment_content {
    font-size: 14px;
    color: #333333;
    margin-left: 32px;
    font-weight: 500;
}

.sgn_comment {
    margin-bottom: 21px;
}

.sgn_comment:last-child{
    margin-bottom: 0;
}

.sgn_author_info .sgn_timestamp {
    margin-left: 28px;
}


.sgn_opportunity_name {
    font-size: 16px;
    font-weight: 600;
    word-break: break-all;
}

.sgn_arrow {
    width: 11px;
    height: 18px;
    object-fit: contain;
}

.sgn_crm_opportunity .sgn_avatar {
    border-radius: 5px;
}

.sgn_crm_opportunity{
  cursor: pointer;
}

.sgn_empty_comment_icon {
    width: 23px;
    height: 20px;
}

.sgn_empty_comment_title {
    font-size: 14px;
    color: #5c5c5c;
    flex: 1;
    margin-left: 11px;
}

.sgn_empty_comment_link a{
    font-size: 14px;
    color: #43b4ef;
    font-weight: 500;
    margin-left: 34px;
    text-decoration: none;
}

.sgn_empty_comment_container {
    display: flex;
}

.sgn_comment_container {
    display: flex;
    flex-flow: column;
}

.sgn_comment_title {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
    flex-grow: 1;
    padding: 19px 15px;
}

.sgn_comment_tips {
    color: #43b4ef;
    font-size: 16px;
    font-weight: 600;
}

.sgn_comment_invite {
    cursor: pointer;
    color: #333333;
    font-size: 14px;
    font-weight: normal;
}

.sgn_comment_invite a {
    color: #000;
    text-decoration: none;
}

.sgn_comment_textarea_container {
    /* display: none; */
    position: relative;
    background-color: #f5f5f5;
    border-top: solid 1px #cccccc;
    border-bottom: solid 1px #cccccc;
}

.sgn_extra_comment_container {
    padding: 0;
}

.sgn_comment_buttons {
    display: flex;
    padding: 10px 15px;
    justify-content: space-between;
}

.sgn_comment_action_buttons button {
    height: 25px;
    width: 72px;
    border: none;
    font-size: 14px;
}

.sgn_comment_send {
    background-color: #ee330e;
    cursor: pointer;
    color: #ffffff;
    border-radius: 12px;
    margin-right: 10px;
}

.sgn_comment_cancel {
    color: #999999;
    cursor: pointer;
    background-color: transparent;
}

.sgn_comment_textarea {
    overflow-y: hidden;
    padding-top: 17px;
    padding-left: 15px;
    padding-right: 15px;
    height: 89px;
    font-size: 15px;
    color: #333333;
}

.sgn_comment_textarea:focus {
    outline: none;
}

.sgn_comment_textarea:empty:not(:focus):before{
    content:attr(data-text);
    color: #cccccc;
    font-size: 15px;
}

.sgn_comment_error {
   display: none;
   color: #ee330e;
   font-size: 14px;
   font-family: Poppins;
   padding-left: 15px;
   padding-top: 20px;
}


.sgn_comment_record {
    padding-left: 15px;
    padding-top: 20px;
    display: flex;
}

.sgn_comment_record:first-child {
    padding-top: 15px;
}

.sgn_comment_record:last-child {
    padding-bottom: 15px;
}

.sgn_comment_author_image {
    margin-right: 8px;
}

.sgn_comment_time {
    margin-left: 15px;
}

.sgn_comment_author_and_time {
    font-size: 12px;
    color: #757575;
}

.sgn_author_image {
    height: 22px;
    width: 22px;
    border-radius: 22px;
}

.sgn_comment_emoji_item {
    border: none;
    background-color: transparent;
}

.sgn_member_right_arrow {
    border: solid #5c6065;
    border-width: 0 3px 3px 0;
    display: inline-block;
    border-radius: 1px;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.sgn_comment_content_detail {
    padding-right: 20px;
    margin-top: 3px;
}

.sgn_login_container {
    display: flex;
    position: relative;
    background-color: #ffffff;
    border: solid thin #cccccc;
    border-radius: 5px;
    padding: 17px;
    margin-bottom: 10px;
}

.sgn_comment_login_logo {
    position: absolute;
    right: 0px;
    top: 5px;
    width: 70px;
}

.sgn_comment_login_icon_node {
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.sgn_comment_login_icon_node img {
    width: 52px;
}

.sgn_comment_login_title {
    font-size: 16.5px;
}

.sgn_comment_login_button {
    background-color: #ee330e;
    border-radius: 15px;
    color: #fff;
    width: 50px;
    height: 20px;
    border-width: 0;
    margin-top: 11px;
    cursor: pointer;
}

.sgn_comment_action_buttons button {
    outline: none;
}

.sgn .sgn_email_comments_container {
    display: none;
    width: 368px;
    border-radius: 10px;
    box-shadow: 0px 1px 38px 0 rgba(46, 46, 46, 0.3);
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 5px;
    position: absolute;
    right: 0px;
    z-index: 99;
}

.sgn_email_comments_header {
    font-size: 16px;
    font-weight: 600;
    color: #333333;
    font-family: Helvetica;
    margin-top: 24px;
}

.sgn .sgn_email_comments {
    margin-top: 18px;
}

.sgn .sgn_email_comment {
    padding-top: 16px;
    padding-bottom: 14px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #e6e6e6;
}

.sgn .sgn_email_comment_title {
    font-size: 14px;
    color: #757575;
}

.sgn .sgn_email_comment_author {
    margin-right: 10px;
}

.sgn .sgn_email_comment_content {
    margin-top: 8px;
    color: #333333;
    font-size: 16px;
    font-family: Helvetica;
    white-space: normal;
}

.sgn_flex {
    display: flex;
}

.sgn .sgn_comment_icon {
    width: 14px;
    height: 14px;
}
