.sgn_container {
  margin: 16px 24px 16px 24px;
}

.sgn_container.sgn_position_side-top,
.sgn_container.sgn_position_side-bottom {
  margin-left: 0;
  margin-right: 0;
}

.sgn_container .sgn_action,
.sgn_container .sgn_prompt_login {
  color: gray;
  /*margin: 5px;*/
}

.sgn_container .sgn_action {
  cursor: pointer;
  display: inline-block;
  text-decoration: underline;
}

.sgn_container .sgn_padding {
  margin: 5px;
}

.sgn_container .sgn_error {
  color: red;
  margin: 5px;
}

.sgn_container textarea.sgn_input {
  box-sizing: border-box;
  color: gray;
  height: 72px;
  margin: 5px;
  width: 100%;
}

.sgn_container.sgn_position_side-top textarea.sgn_input,
.sgn_container.sgn_position_side-bottom textarea.sgn_input {
  margin: 5px 0;
}

.sgn_history {
  margin: 16px 0;
}

.sgn_button{
  float: right;
  height: 100%;
  margin-left: 5px;
}

.sgn_history_note {
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 5px;
  white-space: pre-wrap;
}

.sgn_history a{
  color: #15c;
}

.sgn_history_header{
  display: flex;
  justify-content: space-between;
}

.simpleColorDisplay{
  display: none;
}

